@import "./constants.scss";

.container {
  background: $primary-colour;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  line-height: 0.5;
  color: $secondary-colour;
}

.last_updated {
    display: block;
    justify-content: center;
    padding: 1rem 0;
    line-height: 0.5;
  }

