@import "../styles/constants.scss";

.projects {
  background: $background-color;
  color: $dark-text;
  padding: 50px 0;
  text-align: center;

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: $deep-blue;
    margin-bottom: 30px;
  }

  .content {
    margin-top: 30px;
  }

  .role {
    font-size: 1.5rem;
    font-weight: bold;
    color: $deep-blue;
  }

  .tools {
    font-size: 1.1rem;
    color: $muted-gray;
    margin-top: 5px;
  }

  .desc {
    font-size: 1rem;
    color: $dark-text;
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
  
    li {
      margin-bottom: 8px;
      list-style-type: disc; /* Adds bullet points */
    }
  }
  
  /* Style the timeline elements */
  .vertical-timeline-element-content {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
  }

  .vertical-timeline-element-content:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }
  .projectLogo {
    width: 64px; /* Standardized size */
    height: 64px;
    border-radius: 50%; /* Makes it circular for a clean look */
    object-fit: contain; /* Ensures proper scaling inside the logo area */
    background-color: #fff; /* Adds a subtle background for contrast */
    padding: 5px; /* Provides some spacing around the logo */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $deep-blue; /* Matches color scheme */
    margin-left: -11px;
  }
}
