@import "../styles/constants.scss";

.skills {
  text-align: center;
  padding: 50px 0;
  background: $secondary-colour;
  color: $dark-text;

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: $primary-colour;
    margin-bottom: 30px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
  }

  .category {
    background: $secondary-colour;
    padding: 20px;
    border-radius: 10px;
    border-color: $primary-colour;
    border-style: groove;
    border-width: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    }

    h3 {
      font-size: 1.5rem;
      color: $primary-colour;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.1rem;
        padding: 5px 0;
        color: $dark-text;
      }

      .icon {
        color: $primary-colour;
        font-size: 1.4rem;
      }
    }
  }
}
